extends layout

block content
    .col-md-12
        h3 Förum samferða útá land.
        p Vantar þig far, eða ertu að hugsa um að fara til Akureyrar en þú tímir ekki að keyra einn/ein þangað? Þá er Samfó fyrir þig. Samfó er  hugsuð  með það viðmið í huga að deila bílferðum út á land.
            | Með því að deila bifreiðum má spara bæði umhverfið og budduna. Hugmyndin er sú að þú skráir þig inn á samfó, alveg ókeypis, þar sem þú getur leitað eftir sessunautum .
            | Þú getur bæði óskað eftir fari og haft samband við einhvern sem er að leita eftir sessunaut. Með því að deila bifreiðum og skipta bensín kostnaðinum á milli manna fæst ódýrari ferð út á land.
            | Þá getur fólk einnig veit hvor öðru félagsskap, ef það nennir. Á síðuni er kraftmikil leitarvél sem hjálpar þér að finna það far eða þann farþega sem þú þarft í bílferðina.
            | Einnig er hægt að setja skorður á allt sem varðar farið, þá má til dæmis nefna að hægt er að banna reykingar í bílum og segjast ætla fara  einhvers staðar á milli þriðjudags og fimmtudags,
            | en þá myndu notendur að sjálfsögðu hringjast á og finna hvenær væri best fyrir alla að fara.
            |Einnig er vert að nefna að samfó er
            span.underline  ókeypis.
            |  Eina sem þú þarft að gera er að skrá þig inn og annaðhvort óska eftir fari eða bjóðast til að skutla.


        p(id="abouttext") Það væri alveg yndislegt ef þið mynduð láta alla sem þið þekkið vita af síðunni. Því fleiri sem við erum því betra!
            | Það er ekki hægt að segja það of oft en þetta dregur úr gróðurhúsaáhrifunum og sparar þér góðan skilding.
            |Einnig er vert að nefna að samfó er alveg ókeypis.
            | Eina sem þú þarft að gera er að skrá þig inn og annaðhvort óska eftir fari eða bjóðast til að skutla. Eða bara fylgjast með.



    h2 Hópurinn
    .verticalLine
    .col-md-4
        .paragraphs
            .row
                .span4
                        img.img-rounded.img-responsive.img-Us.horizontal(#333; #000)(style='float:left', src='images/benedikt.jpg', width="160" ,height="155")
                        .content-heading
                            h3 Benedikt Jónsson
                        p(style='clear:right')
                            | Benedikt Jónsson hefur lokið B.sc gráðu í Iðnaðarverkfræði og stundar  nám við tölvunarfræði í HÍ.
                        ul.list-inline.social.hidden-md.hidden-lg.pull-right
                            li
                                a.icon.facebook(href='https://www.facebook.com/bensijons?fref=ts')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")





    .col-md-4
        .paragraphs
            .row
                .span4
                        img.img-rounded.img-responsive.img-Us(style='float:left', src='images/ingvar.jpg', width="160" ,height="155")
                        .content-heading
                            h3 Ingvar Bjarki Einarsson
                        p(style='clear:right')
                            | Ingvar Bjarki Einarsson hefur lokið B.sc gráðu í Iðnaðarverkfræði og stundar nám við tölvunarfræði í HÍ.
                         ul.list-inline.social.hidden-md.hidden-lg.pull-right
                            li
                                a.icon.facebook(href='https://www.facebook.com/IngvarBjarki')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='https://plus.google.com/getstarted/getstarted?fww=1&continue=https://plus.google.com/me')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='https://www.linkedin.com/home?trk=nav_responsive_tab_home')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")



    .col-md-4
        .paragraphs
            .row
                .span4
                        img.img-rounded.img-responsive.img-Us(style='float:left', src='images/thor.jpg', width="160" ,height="155")
                        .content-heading
                            h3 Þór Stefánsson
                        p(style='clear:right')
                            | Þór Stefánsson hefur lokið B.Sc í Vélaverkfræði og stundar nám við tölvunarfræði í HÍ.
                         ul.list-inline.social.hidden-md.hidden-lg.pull-right
                            li
                                a.icon.facebook(href='https://www.facebook.com/thrumugud?fref=ts')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")


    .col-md-12.hidden-sm.hidden-xs
        .col-md-4
                ul.list-inline.social
                            li
                                a.icon.facebook(href='https://www.facebook.com/bensijons?fref=ts')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")
        .col-md-4
                ul.list-inline.social.icon-ingvar
                            li
                                a.icon.facebook(href='https://www.facebook.com/IngvarBjarki')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='https://plus.google.com/getstarted/getstarted?fww=1&continue=https://plus.google.com/me')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='https://www.linkedin.com/home?trk=nav_responsive_tab_home')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")
        .col-md-4
                ul.list-inline.social.icon-thor
                            li
                                a.icon.facebook(href='https://www.facebook.com/thrumugud?fref=ts')
                                    img.img-responsive.img-icon( src="images/facebook.png", alt="facebook",  width="25" ,height="25")
                            li
                                a.icon.twitter(href='')
                                    img.img-responsive.img-icon( src="images/googleplus.png", alt="google", width="25" ,height="25")
                            li
                                a.icon.googleplus(href='')
                                    img.img-responsive.img-icon( src="images/linkedin.png", alt="linkedin", width="25" ,height="25")


block navbar
    ul.nav.navbar-nav.navbar-right
        if !user
          li
            a(href='/login') Innskrá
          li
            a(href='/create') Nýskrá
        if user
          li
            a(href='/logout') Útskrá
        li.active
          a(href='/about') Um okkur
