extends layout

block content
  form(method='post', action='/create')
    if post
      if !success
        p.error=error
      else
        p Notandi búinn til!

    .form-group.has-feedback
        label.control-label(for="username") Username:
        input.form-control(type='text', placeholder='Username', id="username", name="username")
        i.glyphicon.glyphicon-user.form-control-feedback

    .form-group.has-feedback
        label.control-label(for="password") Password:
        input.form-control(type='text', placeholder='Password', id="password", name="Password")
        i.glyphicon.glyphicon-lock.form-control-feedback

    .form-group.has-feedback
        label.control-label(for="phone") Phone:
        input.form-control(type='phone', placeholder='5812345', id="phone", name="Phone", value=phone)
        i.glyphicon.glyphicon-earphone.form-control-feedback

     .form-group.has-feedback
        label.control-label(for="phone") Email:
        input.form-control(type='email', placeholder='samfo@samfo.is', id="email", name="email", value=email)
        i.glyphicon.glyphicon-envelope.form-control-feedback


    div: button Create user
