extends layout

block content
  form(method='post', action='/create')
    if post
      if !success
        p.error=error
      else
        p Notandi búinn til!


    .form-horizontal.col-md-8
        .form-group.has-feedback
            label.control-label.col-md-2(for="username") Notendanafn:
            .col-md-8
                input.form-control(type='text', placeholder='Jón Sigurðsson', id="username", name="username", value=username)
                i.glyphicon.glyphicon-user.form-control-feedback
            .col-md-2
        .form-group.has-feedback
            label.control-label.col-md-2(for="password") Lykilorð:
            .col-md-8
                input.form-control(type='password', placeholder='*****', id="password", name="password")
                i.glyphicon.glyphicon-lock.form-control-feedback
            .col-md-2
        .form-group.has-feedback
            label.control-label.col-md-2(for="phone") Sími:
            .col-md-8
                input.form-control(type='phone', placeholder='5812345', id="phone", name="phone", value=phone)
                i.glyphicon.glyphicon-earphone.form-control-feedback
            .col-md-2
         .form-group.has-feedback
            label.control-label.col-md-2(for="email") Netfang:
            .col-md-8
                input.form-control(type='email', placeholder='samfo@samfo.is', id="email", name="email", value=email)
                i.glyphicon.glyphicon-envelope.form-control-feedback
            .col-md-2



        .col-md-2
        .col-md-8
            button.btn.btn-default.pull-right Create user
        .col-md-2

