extends layout

block content
  form(method='post', action='/create')
    if post
      if !success
        p.error=error
      else
        p Notandi búinn til!

    .form-group.has-feedback
        label.control-label(for="username") Username:
        input.form-control(type='text', placeholder='Username', id="username", name="username")
        i.glyphicon.glyphicon-user.form-control-feedback


    div: label(for='password') Password
    input(type='password', id='password', name='password')

    div: label(for='phone') Phone number
    input(type='phone', id='phone', name='phone', value=phone)

    div: label(for='email') Email
    input(type='email', id='email', name='email', value=email)

    div: button Create user
