extends layout

block content
    .form-inline
        .form-group
            label(for='Fra') Frá:
            select.form-control(muliteple='' id = "Fra")
                option(value='1') Akranes
                option(value='2') Akureyri
                option(value='3') Árskógsströnd/Hrísey
                option(value='4') Ísafjörður
                option(value='5') Ólafsfjörður
                option(value='6') Ólafsvík
                option(value='7') Ögur í Ísafjarðardjúpi
                option(value='8') Þórshöfn
                option(value='9') Þingeyri
                option(value='10') Þorlákshöfn
                option(value='11') Bakkafjörður
                option(value='12') Bíldudalur
                option(value='13') Búðardalur
                option(value='14') Bifröst
                option(value='15') Bifröst
                option(value='16') Blönduós
                option(value='17') Bolungarvík
                option(value='18') Borgarfjörður
                option(value='19') Borgarnes
                option(value='20') Breiðdalsvík
                option(value='21') Dalvík
                option(value='22') Djúpivogur
                option(value='23') Drangsnes
                option(value='24') Egilsstaðir
                option(value='25') Eskifjörður
                option(value='26') Eyrarbakki
                option(value='27') Fáskrúðsfjörður
                option(value='28') Flateyri
                option(value='29') Flúðir
                option(value='30') Garðabær
                option(value='31') Garður
                option(value='32') Grenivík
                option(value='33') Grindavík
                option(value='34') Grundarfjörður
                option(value='35') Hafnarfjörður
                option(value='36') Hólar í Hjaltadal
                option(value='37') Hólmavík
                option(value='38') Höfn
                option(value='39') Húsavík
                option(value='40') Heitar laugar á Íslandi
                option(value='41') Hella
                option(value='42') Hellissandur
                option(value='43') Hofsós
                option(value='44') Hvammstangi
                option(value='45') Hvanneyri
                option(value='46') Hveragerði
                option(value='47') Hvolsvöllur
                option(value='48') Kárahnjúkar
                option(value='49') Kópasker
                option(value='50') Kópavogur
                option(value='51') Keflavík
                option(value='52') Keflavík (Airport)
                option(value='53') Keilissvæðið
                option(value='54') Kirkjubæjarklaustur
                option(value='55') Landeyjahöfn
                option(value='56') Landmannalaugar
                option(value='57') Laugar
                option(value='58') Laugarvatn
                option(value='59') Mývatn
                option(value='60') Mjóifjörður
                option(value='61') Mosfellsbær
                option(value='62') Neskaupstaður
                option(value='63') Patreksfjörður
                option(value='64') Raufarhöfn
                option(value='65') Reyðarfjörður
                option(value='66') Reykhólar
                option(value='67') Reykholt
                option(value='68') Reykjanesbær
                option(value='69') Reykjavík
                option(value='70') Sandgerði
                option(value='71') Sauðárkrókur
                option(value='72') Súðavík
                option(value='73') Selfoss
                option(value='74') Seyðisfjörður
                option(value='75') Siglufjörður
                option(value='76') Skagaströnd
                option(value='77') Staður
                option(value='78') Stöðvarfjörður
                option(value='79') Stokkseyri
                option(value='80') Stykkishólmur
                option(value='81') Suðureyri
                option(value='82') Tálknafjörður
                option(value='83') Varmahlíð
                option(value='84') Vík
                option(value='85') Vestmannaeyjar
                option(value='86') Vogar
                option(value='87') Vopnafjörður
            label(for='Til') Til:
            select.form-control(muliteple='', id= "Til")
                option(value='1') Akranes
                option(value='2') Akureyri
                option(value='3') Árskógsströnd/Hrísey
                option(value='4') Ísafjörður
                option(value='5') Ólafsfjörður
                option(value='6') Ólafsvík
                option(value='7') Ögur í Ísafjarðardjúpi
                option(value='8') Þórshöfn
                option(value='9') Þingeyri
                option(value='10') Þorlákshöfn
                option(value='11') Bakkafjörður
                option(value='12') Bíldudalur
                option(value='13') Búðardalur
                option(value='14') Bifröst
                option(value='15') Bifröst
                option(value='16') Blönduós
                option(value='17') Bolungarvík
                option(value='18') Borgarfjörður
                option(value='19') Borgarnes
                option(value='20') Breiðdalsvík
                option(value='21') Dalvík
                option(value='22') Djúpivogur
                option(value='23') Drangsnes
                option(value='24') Egilsstaðir
                option(value='25') Eskifjörður
                option(value='26') Eyrarbakki
                option(value='27') Fáskrúðsfjörður
                option(value='28') Flateyri
                option(value='29') Flúðir
                option(value='30') Garðabær
                option(value='31') Garður
                option(value='32') Grenivík
                option(value='33') Grindavík
                option(value='34') Grundarfjörður
                option(value='35') Hafnarfjörður
                option(value='36') Hólar í Hjaltadal
                option(value='37') Hólmavík
                option(value='38') Höfn
                option(value='39') Húsavík
                option(value='40') Heitar laugar á Íslandi
                option(value='41') Hella
                option(value='42') Hellissandur
                option(value='43') Hofsós
                option(value='44') Hvammstangi
                option(value='45') Hvanneyri
                option(value='46') Hveragerði
                option(value='47') Hvolsvöllur
                option(value='48') Kárahnjúkar
                option(value='49') Kópasker
                option(value='50') Kópavogur
                option(value='51') Keflavík
                option(value='52') Keflavík (Airport)
                option(value='53') Keilissvæðið
                option(value='54') Kirkjubæjarklaustur
                option(value='55') Landeyjahöfn
                option(value='56') Landmannalaugar
                option(value='57') Laugar
                option(value='58') Laugarvatn
                option(value='59') Mývatn
                option(value='60') Mjóifjörður
                option(value='61') Mosfellsbær
                option(value='62') Neskaupstaður
                option(value='63') Patreksfjörður
                option(value='64') Raufarhöfn
                option(value='65') Reyðarfjörður
                option(value='66') Reykhólar
                option(value='67') Reykholt
                option(value='68') Reykjanesbær
                option(value='69') Reykjavík
                option(value='70') Sandgerði
                option(value='71') Sauðárkrókur
                option(value='72') Súðavík
                option(value='73') Selfoss
                option(value='74') Seyðisfjörður
                option(value='75') Siglufjörður
                option(value='76') Skagaströnd
                option(value='77') Staður
                option(value='78') Stöðvarfjörður
                option(value='79') Stokkseyri
                option(value='80') Stykkishólmur
                option(value='81') Suðureyri
                option(value='82') Tálknafjörður
                option(value='83') Varmahlíð
                option(value='84') Vík
                option(value='85') Vestmannaeyjar
                option(value='86') Vogar
                option(value='87') Vopnafjörður
            label.checkbox-inline
                input(id="inlineCheckbox1", type="checkbox", value="Reyklaus")
                | Reyklaus
