extends layout

block content
    section.welcome
        p.index Nei hæ. Þú ert núna inná forsíðunni en eins og þú sérð er hún ekkert rosalega spennandi. 
        p Endilega skráðu þig inn til þess að skoða mun meira spennandi hluti.