extends layout

block content
  form(method='post', action='/login')
    if error
      p Villa við auðkenningu

    .form-group.has-feedback
        label.control-label(for="username") Username:
        input.form-control(type='text', placeholder='Username', id="username", name="username")
        i.glyphicon.glyphicon-user.form-control-feedback

    .form-group.has-feedback
        label.control-label(for="password") Password:
        input.form-control(type='password', placeholder='Password', id="password", name="password")
        i.glyphicon.glyphicon-lock.form-control-feedback


    div: button.login Login
