extends layout

block content
  form(method='post', action='/login')
    if newuser
        p Nýskráningin tókst! Endilega skráðu þig inn.
    if error
      p Villa við auðkenningu


    .form-horizontal.col-md-8
        .form-group.has-feedback
            label.control-label.col-md-2(for="username") Notandanafn:
            .col-md-4
                input.form-control(type='text', placeholder='Jón Sigurðsson', id="username", name="username",value=username.val)
                i.glyphicon.glyphicon-user.form-control-feedback
            .col-md-8

        .form-group.has-feedback
            label.control-label.col-md-2(for="password") Lykilorð:
            .col-md-4
                input.form-control(type='password', placeholder='*****', id="password", name="password")
                i.glyphicon.glyphicon-lock.form-control-feedback
            .col-md-8


        .form-group.has-feedback
            .col-md-2
            .col-md-4
                button.login.pull-right Innskrá
            .col-md-8

block navbar
    ul.nav.navbar-nav.navbar-right
      li.active
        a(href='/login') Innskrá
      li
        a(href='/create') Nýskrá
      li
        a(href='/about') Um okkur