extends layout
//extends thewall
block content



    if !success
        p.error=error
    form(method='post', action='/restricted/thewall/create')
        .form-group
            .form-inline
                div: label(for='Entry') Skrifa athugasemd sem #{user.username}
                label(for='Fra') Frá:
                    select.form-control(muliteple='' name='from' id = "Fra")
                        option(value='Akranes') Akranes
                        option(value='Akureyri') Akureyri
                        option(value='Árskógsströnd/Hrísey') Árskógsströnd/Hrísey
                        option(value='Ísafjörður') Ísafjörður
                        option(value='Ólafsfjörður') Ólafsfjörður
                        option(value='Ólafsvík') Ólafsvík
                        option(value='Ögur í Ísafjarðardjúpi') Ögur í Ísafjarðardjúpi
                        option(value='Þórshöfn') Þórshöfn
                        option(value='Þingeyri') Þingeyri
                        option(value='Þorlákshöfn') Þorlákshöfn
                        option(value='Bakkafjörður') Bakkafjörður
                        option(value='Bíldudalur') Bíldudalur
                        option(value='Búðardalur') Búðardalur
                        option(value='Bifröst') Bifröst
                        option(value='Bifröst') Bifröst
                        option(value='Blönduós') Blönduós
                        option(value='Bolungarvík') Bolungarvík
                        option(value='Borgarfjörður') Borgarfjörður
                        option(value='Borgarnes') Borgarnes
                        option(value='Breiðdalsvík') Breiðdalsvík
                        option(value='Dalvík') Dalvík
                        option(value='Djúpivogur') Djúpivogur
                        option(value='Drangsnes') Drangsnes
                        option(value='Egilsstaðir') Egilsstaðir
                        option(value='Eskifjörður') Eskifjörður
                        option(value='Eyrarbakki') Eyrarbakki
                        option(value='Fáskrúðsfjörður') Fáskrúðsfjörður
                        option(value='Flateyri') Flateyri
                        option(value='Flúðir') Flúðir
                        option(value='Garðabær') Garðabær
                        option(value='Garður') Garður
                        option(value='Grenivík') Grenivík
                        option(value='Grindavík') Grindavík
                        option(value='Grundarfjörður') Grundarfjörður
                        option(value='Hafnarfjörður') Hafnarfjörður
                        option(value='Hólar í Hjaltadal') Hólar í Hjaltadal
                        option(value='Hólmavík') Hólmavík
                        option(value='Höfn') Höfn
                        option(value='Húsavík') Húsavík
                        option(value='Heitar laugar á Íslandi') Heitar laugar á Íslandi
                        option(value='Hella') Hella
                        option(value='Hellissandur') Hellissandur
                        option(value='Hofsós') Hofsós
                        option(value='Hvammstangi') Hvammstangi
                        option(value='Hvanneyri') Hvanneyri
                        option(value='Hveragerði') Hveragerði
                        option(value='Hvolsvöllur') Hvolsvöllur
                        option(value='Kárahnjúkar') Kárahnjúkar
                        option(value='Kópasker') Kópasker
                        option(value='Kópavogur') Kópavogur
                        option(value='Keflavík') Keflavík
                        option(value='Keflavík (Airport)') Keflavík (Airport)
                        option(value='Keilissvæðið') Keilissvæðið
                        option(value='Kirkjubæjarklaustur') Kirkjubæjarklaustur
                        option(value='Landeyjahöfn') Landeyjahöfn
                        option(value='Landmannalaugar') Landmannalaugar
                        option(value='Laugar') Laugar
                        option(value='Laugarvatn') Laugarvatn
                        option(value='Mývatn') Mývatn
                        option(value='Mjóifjörður') Mjóifjörður
                        option(value='Mosfellsbær') Mosfellsbær
                        option(value='Neskaupstaður') Neskaupstaður
                        option(value='Patreksfjörður') Patreksfjörður
                        option(value='Raufarhöfn') Raufarhöfn
                        option(value='Reyðarfjörður') Reyðarfjörður
                        option(value='Reykhólar') Reykhólar
                        option(value='Reykholt') Reykholt
                        option(value='Reykjanesbær') Reykjanesbær
                        option(value='Reykjavík') Reykjavík
                        option(value='Sandgerði') Sandgerði
                        option(value='Sauðárkrókur') Sauðárkrókur
                        option(value='Súðavík') Súðavík
                        option(value='Selfoss') Selfoss
                        option(value='Seyðisfjörður') Seyðisfjörður
                        option(value='Siglufjörður') Siglufjörður
                        option(value='Skagaströnd') Skagaströnd
                        option(value='Staður') Staður
                        option(value='Stöðvarfjörður') Stöðvarfjörður
                        option(value='Stokkseyri') Stokkseyri
                        option(value='Stykkishólmur') Stykkishólmur
                        option(value='Suðureyri') Suðureyri
                        option(value='Tálknafjörður') Tálknafjörður
                        option(value='Varmahlíð') Varmahlíð
                        option(value='Vík') Vík
                        option(value='Vestmannaeyjar') Vestmannaeyjar
                        option(value='Vogar') Vogar
                        option(value='Vopnafjörður') Vopnafjörður
                    label(for='Til') Til:
                    select.form-control(muliteple='', name='to', id= "Til")
                        option(value='Akranes') Akranes
                        option(value='Akureyri') Akureyri
                        option(value='Árskógsströnd/Hrísey') Árskógsströnd/Hrísey
                        option(value='Ísafjörður') Ísafjörður
                        option(value='Ólafsfjörður') Ólafsfjörður
                        option(value='Ólafsvík') Ólafsvík
                        option(value='Ögur í Ísafjarðardjúpi') Ögur í Ísafjarðardjúpi
                        option(value='Þórshöfn') Þórshöfn
                        option(value='Þingeyri') Þingeyri
                        option(value='Þorlákshöfn') Þorlákshöfn
                        option(value='Bakkafjörður') Bakkafjörður
                        option(value='Bíldudalur') Bíldudalur
                        option(value='Búðardalur') Búðardalur
                        option(value='Bifröst') Bifröst
                        option(value='Bifröst') Bifröst
                        option(value='Blönduós') Blönduós
                        option(value='Bolungarvík') Bolungarvík
                        option(value='Borgarfjörður') Borgarfjörður
                        option(value='Borgarnes') Borgarnes
                        option(value='Breiðdalsvík') Breiðdalsvík
                        option(value='Dalvík') Dalvík
                        option(value='Djúpivogur') Djúpivogur
                        option(value='Drangsnes') Drangsnes
                        option(value='Egilsstaðir') Egilsstaðir
                        option(value='Eskifjörður') Eskifjörður
                        option(value='Eyrarbakki') Eyrarbakki
                        option(value='Fáskrúðsfjörður') Fáskrúðsfjörður
                        option(value='Flateyri') Flateyri
                        option(value='Flúðir') Flúðir
                        option(value='Garðabær') Garðabær
                        option(value='Garður') Garður
                        option(value='Grenivík') Grenivík
                        option(value='Grindavík') Grindavík
                        option(value='Grundarfjörður') Grundarfjörður
                        option(value='Hafnarfjörður') Hafnarfjörður
                        option(value='Hólar í Hjaltadal') Hólar í Hjaltadal
                        option(value='Hólmavík') Hólmavík
                        option(value='Höfn') Höfn
                        option(value='Húsavík') Húsavík
                        option(value='Heitar laugar á Íslandi') Heitar laugar á Íslandi
                        option(value='Hella') Hella
                        option(value='Hellissandur') Hellissandur
                        option(value='Hofsós') Hofsós
                        option(value='Hvammstangi') Hvammstangi
                        option(value='Hvanneyri') Hvanneyri
                        option(value='Hveragerði') Hveragerði
                        option(value='Hvolsvöllur') Hvolsvöllur
                        option(value='Kárahnjúkar') Kárahnjúkar
                        option(value='Kópasker') Kópasker
                        option(value='Kópavogur') Kópavogur
                        option(value='Keflavík') Keflavík
                        option(value='Keflavík (Airport)') Keflavík (Airport)
                        option(value='Keilissvæðið') Keilissvæðið
                        option(value='Kirkjubæjarklaustur') Kirkjubæjarklaustur
                        option(value='Landeyjahöfn') Landeyjahöfn
                        option(value='Landmannalaugar') Landmannalaugar
                        option(value='Laugar') Laugar
                        option(value='Laugarvatn') Laugarvatn
                        option(value='Mývatn') Mývatn
                        option(value='Mjóifjörður') Mjóifjörður
                        option(value='Mosfellsbær') Mosfellsbær
                        option(value='Neskaupstaður') Neskaupstaður
                        option(value='Patreksfjörður') Patreksfjörður
                        option(value='Raufarhöfn') Raufarhöfn
                        option(value='Reyðarfjörður') Reyðarfjörður
                        option(value='Reykhólar') Reykhólar
                        option(value='Reykholt') Reykholt
                        option(value='Reykjanesbær') Reykjanesbær
                        option(value='Reykjavík') Reykjavík
                        option(value='Sandgerði') Sandgerði
                        option(value='Sauðárkrókur') Sauðárkrókur
                        option(value='Súðavík') Súðavík
                        option(value='Selfoss') Selfoss
                        option(value='Seyðisfjörður') Seyðisfjörður
                        option(value='Siglufjörður') Siglufjörður
                        option(value='Skagaströnd') Skagaströnd
                        option(value='Staður') Staður
                        option(value='Stöðvarfjörður') Stöðvarfjörður
                        option(value='Stokkseyri') Stokkseyri
                        option(value='Stykkishólmur') Stykkishólmur
                        option(value='Suðureyri') Suðureyri
                        option(value='Tálknafjörður') Tálknafjörður
                        option(value='Varmahlíð') Varmahlíð
                        option(value='Vík') Vík
                        option(value='Vestmannaeyjar') Vestmannaeyjar
                        option(value='Vogar') Vogar
                        option(value='Vopnafjörður') Vopnafjörður



        //request
        label(for='request') Óska eftir:
            select.form-control(muliteple='', name='request', id= "request")
                option(value='Farþegum') Farþegum
                option(value='Fari') Fari


        .form-horizontal.form-income
            .form-group
                label.control-label(for='date-picker-2') Dagsetning ferðar:
                .input-group
                    input#date-picker-2.date-picker.form-control(type='text', name='date')
                    label.input-group-addon.btn(for='date-picker-2')
                        span.glyphicon.glyphicon-calendar


            .form-group
                label.control-label(for='timiFerdar') Tími ferðar:
                .input-group.clockpicker(data-placement='left', data-align='top', data-autoclose='true')
                    input.form-control(type='text', value='13:14', id="timiFerdar")
                    span.input-group-addon
                        span.glyphicon.glyphicon-time



            label.checkbox
            input(id="inlineCheckbox1", type="checkbox", name='smoking' value="Reyklaus")
            strong Reyklaus

        label Annað:
        textarea.form-control(row="5", id ="textarea", name = "textarea",placeholder="Legg af stað frá árbæjarsundlaug um hádegi. Stoppað verður einusinni og kiss verður botnað í útvarpinu.")

        div
            button.btn.btn-success Búa til færslu